{% extends '::base.html.twig' %}

{% block body %}
    <p>Sign up</p>
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    <form action="{{ path('al_real_estate_login_check') }}" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="_username" value="{{ last_username }}" />

        <label for="password">Password:</label>
        <input type="password" id="password" name="_password" />

        <button type="submit">Sign up</button>
    </form>
{% endblock body %}