{% extends '::base.html.twig' %}

{% block body %}

    <div class="container-fluid height-100">
        <div class="row height-100">
            <div class="col-lg-3 control-area">
                <div class="search-block">
                    <p class="search-places-title">Search:</p>
                    <input type="search" class="search-places" data-bind="textInput: searchQuery"/>
                </div>
                <ul class="favourite-places-list" data-bind="foreach: favouritePlaces">
                    <!-- ko if: visible -->
                    <li data-bind="click: infoWindow">
                        <p>Address: <span data-bind="text: name"></span></p>

                        <p class="favourite-place-latlng">LatLng: <span data-bind="text: latlng"></span></p>
                        <a class="delete-button" href="javascript:void(0)" data-bind="click: $parent.deletePlace"><i
                                    class="material-icons">delete</i></a>
                    </li>
                    <!-- /ko -->
                </ul>
            </div>
            <div class="col-lg-9 map-area">

                <div id="map-canvas"></div>

            </div>
        </div>
    </div>

{% endblock body %}


{% block javascripts %}

    {{ parent() }}


    {% block javascriptVariables %}
        <script type="text/javascript">

            var realEstateData = {{ entities|json_encode|raw }};

        </script>
    {% endblock %}

    {% javascripts
    '@ALRealEstateBundle/Resources/public/js/homepage.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

{% endblock javascripts %}
